.mgl-layout-1-i {
  grid-template-columns: [col1-start] 33.33% [col2-start];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-1-i .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-1-o {
  grid-template-columns: [col1-start] 50% [col2-start];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-1-o .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-2-io {
  grid-template-columns: [col1-start] 33.33%  [col2-start] 66.66%;
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-2-io .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-2-io .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-2-oi {
  grid-template-columns: [col1-start] 66.66%  [col2-start] 33.33%;
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-2-oi .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-2-oi .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-2-oo {
  grid-template-columns: [col1-start] 50%  [col2-start] 50%;
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-2-oo .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-2-oo .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-2-ii {
  grid-template-columns: [col1-start] 33.33%  [col2-start] 33.33%;
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-2-ii .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-2-ii .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-ooo {
  grid-template-columns: [col1-start] 33.33%  [col2-start] 33.33%  [col3-start] 33.33% [col3-end];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-3-ooo .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-ooo .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-ooo .c {
  grid-column: col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-3-ioo {
  grid-template-columns: [col1-start] 20%  [col2-start] 40%  [col3-start] 40% [col3-end];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-3-ioo .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-ioo .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-ioo .c {
  grid-column: col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-3-oio {
  grid-template-columns: [col1-start] 40%  [col2-start] 20%  [col3-start] 40% [col3-end];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-3-oio .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-oio .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-oio .c {
  grid-column: col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-3-ooi {
  grid-template-columns: [col1-start] 40%  [col2-start] 40%  [col3-start] 20% [col3-end];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-3-ooi .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-ooi .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-ooi .c {
  grid-column: col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-3-oii {
  grid-template-columns: [col1-start] 50% [col2-start] 25%  [col3-start] 25% [col3-end];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-3-oii .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-oii .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-oii .c {
  grid-column: col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-3-ioi {
  grid-template-columns: [col1-start] 25% [col2-start] 50%  [col3-start] 25% [col3-end];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-3-ioi .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-ioi .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-ioi .c {
  grid-column: col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-3-iio {
  grid-template-columns: [col1-start] 25% [col2-start] 25%  [col3-start] 50% [col3-end];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-3-iio .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-iio .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-iio .c {
  grid-column: col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-3-iii {
  grid-template-columns: [col1-start] 33.33% [col2-start] 33.33%  [col3-start] 33.33% [col3-end];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-layout-3-iii .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-iii .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-3-iii .c {
  grid-column: col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-4-oioo {
  grid-template-columns: [col1-start] 50%  [col2-start] 25%  [col3-start] 25% [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}
.mgl-layout-4-oioo .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-4-oioo .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-4-oioo .c {
  grid-column: col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-4-oioo .d {
  grid-column: col3-start;
  grid-row: row2-start;
}
.mgl-layout-4-oooi {
  grid-template-columns: [col1-start] 50%  [col2-start] 25%  [col3-start] 25% [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}
.mgl-layout-4-oooi .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-4-oooi .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-4-oooi .c {
  grid-column: col2-start / col3-start;
  grid-row: row2-start;
}
.mgl-layout-4-oooi .d {
  grid-column: col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-4-iooo {
  grid-template-columns: [col1-start] 25%  [col2-start] 25%  [col3-start] 50% [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}
.mgl-layout-4-iooo .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-4-iooo .b {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-4-iooo .c {
  grid-column: col2-start / col3-start;
  grid-row: row2-start;
}
.mgl-layout-4-iooo .d {
  grid-column: col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-4-ooio {
  grid-template-columns: [col1-start] 25%  [col2-start] 25%  [col3-start] 50% [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}
.mgl-layout-4-ooio .a {
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-start;
}
.mgl-layout-4-ooio .b {
  grid-column: col1-start / col2-start;
  grid-row: row2-start;
}
.mgl-layout-4-ooio .c {
  grid-column: col2-start / col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-4-ooio .d {
  grid-column: col3-start;
  grid-row: row1-start / row2-end;
}
.mgl-layout-4-iiii {
  grid-template-columns: [col1-start] 25%  [col2-start] 25%  [col3-start] 25% [col4-start] 25% [col4-end];
  grid-template-rows: [row1-start] auto [row1-end];
}
.mgl-tiles {
  position: relative;
  display: block;
  width: 100%;
}
.mgl-tiles .mgl-row {
  display: grid;
  position: relative;
  width: 100%;
  height: 300px;
}
.mgl-tiles .mgl-row .mgl-box {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-clip: content-box;
}
.mgl-tiles .mgl-row .mgl-box .mgl-item {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}
.mgl-tiles .mgl-row .mgl-box .mgl-item .mgl-icon {
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
}
.mgl-tiles .mgl-row .mgl-box .mgl-item .mgl-icon img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.mgl-tiles .mgl-row .mgl-box .mgl-item figcaption {
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100%;
}
.mgl-tiles .mgl-row .mgl-box .mgl-item figcaption p {
  margin: 0 !important;
  padding: 10px;
  box-sizing: border-box;
}
.mgl-tiles .mgl-row .mgl-box .mgl-item:hover figcaption {
  bottom: 0;
  opacity: 1;
  transition: .3s;
}
