// out: false, compress: true, sourceMap: false, main: style.less

.mgl-justified {
	display: flex !important;
	overflow: hidden;
	flex-wrap: wrap;
	margin: -2.5px;

	&:after {
		content: '';
		flex-grow: 999999999;
		min-width: 300px;
		height: 0;
	}

	.mgl-item, .mgl-icon, a {
		margin: 0;
	}

	.mgl-item {
		position: relative;
		display: block;
		height: 300px;
		margin: 5px;
		flex-grow: 1;

		img {
			width: auto;
			height: 300px;
			object-fit: cover;
			max-width: 100%;
			min-width: 100%;
			vertical-align: bottom;
		}

		figcaption {
			position: absolute;
			bottom: 0;
			opacity: 0;
			width: 100%;

			p {
				margin: 0 !important;
				padding: 10px;
				box-sizing: border-box;
			}
		}

		&:hover {
			figcaption {
				bottom: 0;
				opacity: 1;
				  transition: .3s;
			}
		}
	}
}