// out: false, compress: true, sourceMap: false, main: style.less

.mgl-infinite-scroll {
	&.skeleton {
		margin-top: 20px;
		height: 35px;

		border-radius: 8px;
		background-color: #e7e7e7;
		overflow: hidden;

		.mgl-skeleton {
			border-radius: 8px;
			width: 100%;
			height: 100%;

			transform: translateX(-100%);
			background: linear-gradient(90deg,
					rgba(white, 0),
					rgba(white, 0.2) 30%,
					rgba(white, 0.4) 80%,
					rgba(white, 0));

			border-radius: 4px;
			animation: mgl-skeleton 3.5s ease-in-out infinite;
		}

		@keyframes mgl-skeleton {
			100% {
				transform: translateX(100%);
			}
		}
	}
}

.mgl-hidden {
	display: none;
}

.mgl-gallery-images {
	display: none;
}

.captions-none {
	.mgl-item {
		figcaption {
			opacity: 0 !important;
		}
	}
}

.captions-always {
	.mgl-item {
		figcaption {
			opacity: 1 !important;
		}
	}
}

.mgl-item {
	position: relative;
	overflow: hidden;

	figcaption {
		background: rgba(0,0,0,.8);
		font-size: 12px;
		max-height: 40%;

		p {
			color: white !important;
			font-size: 12px !important;
			line-height: 120% !important;
		}

		p:first-letter {
			float: unset !important;
			font-family: inherit !important;
			font-size: unset;
			font-size: 1em !important;
			line-height: 1em !important;
			padding: 0 !important;
		}
	}
}

.mgl-lazy {
	opacity: 1;
	transition: opacity 0.35s;
}

.mgl-lazy[mgl-src] {
	opacity: 0;
}

.mgl-gtb-container {
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(255, 255, 255, 0.65);
	padding: 20px;
	z-index: 0;

	&.mgl-busy {
		z-index: 1;
	}
}