// out: ../slider.min.css, compress: true, sourceMap: true

.mgl-slider {
	display: block !important;
}

.mgl-slider-preview {
	position: relative;
	width: 100%;
	height: 600px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	.mgl-slider-preview-image {
		width: auto;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-width: 100%;
			max-height: 100%;
			width: auto;
		}
	}

	.chevron::before {
		border-style: solid;
		border-width: 1px 1px 0 0;
		border-color: white;
		content: '';
		display: inline-block;
		height: 30px;
		position: relative;
		transform: rotate(-45deg);
		width: 30px;
	}
	.chevron::after {
		border-style: solid;
		border-width: 1px 1px 0 0;
		border-color: black;
		content: '';
		display: inline-block;
		height: 30px;
		position: relative;
		transform: rotate(-45deg);
		width: 30px;
	}

	.chevron.left:before, .chevron.left:after {
		transform: rotate(-135deg);
	}

	.chevron.left:after {
		margin-left: -28px;
	}

	.chevron.right:before, .chevron.right:after {
		transform: rotate(45deg);
	}

	.chevron.right:after {
		margin-left: -28px;
	}

	.nav-prev {
		position: absolute;
		left: 0;
		height: 100%;
		width: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav-next {
		position: absolute;
		right: 0;
		height: 100%;
		width: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav-prev, .nav-next {
		opacity: .5;

		&:hover {
			opacity: 1;
		}
	}
}

.mgl-slider {
	position: relative;
	min-width: 100%;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	font-size: 0;
	padding-bottom: 10px;
	text-align: center;
	overflow: hidden;
	//border: 2px solid blue;

	.mgl-item {
		display: inline-block;
		height: 100%;
		margin-right: 10px;
		opacity: .4;
		filter: grayscale(1);

		.mgl-icon {
			height: 100%;

			img {
				height: 100%;
				width: auto;
			}
		}

		&:last-of-type {
			margin: 0;
		}

		&.active {
			opacity: 1;
			filter: grayscale(0);
			transition: .3s;
		}

		figcaption {
			display: none;
		}
	}

	.mgl-slider-navigation {
		height: 90px;
		max-width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		padding-bottom: 5px;
	}
}

.mgl-slider-navigation::-webkit-scrollbar {
	height: 8px;
}

.mgl-slider-navigation::-webkit-scrollbar-track {
	background: transparent;
}

.mgl-slider-navigation::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 10px;

	&:hover {
		background: #333;
	}
}