.meow-button-xs {
  font-size: 10px !important;
  height: 20px !important;
  line-height: 18px !important;
  position: relative !important;
  top: 1px !important;
  text-align: center !important
}

.meow-button-xs .dashicons {
  font-size: 18px !important;
}

.meow-button-xs.updating-message:before {
  margin-top: 0px !important;
}

.meow-button-xs.updating-message * {
  display: none;
}

.meow-box {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  background: #fff;
}

.meow-box .inside {
  margin: 10px;
}

.meow-box th {
  padding: 10px 10px 10px 0px;
  width: 22%;
}

.meow-box td {
  padding: 10px 10px;
}

.meow-box p.submit {
  border-top: 1px solid #eee;
  text-align: right;
  margin: 0px;
  padding: 8px 0px 0px 0px;
}

.meow-box h3 {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  border-bottom: 1px solid #eee;
}

.meow-box [type="text"] {
  margin-top: -3px;
  width: 100%;
}

.meow-box li {
  border-bottom: 1px solid #eee;
  padding: 0px 10px 10px 10px;
}

.meow-box li:last-child {
  border: none;
  padding-bottom: 0px;
}

.meow-header-ad {
  float: right;
}

.section { clear: both; padding: 0px; margin: 0px; }

/*  COLUMN SETUP  */
.col { display: block; float:left; margin: 1% 0 1% 1.6%; }
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.1%; }
.span_1_of_3 { width: 32.2%; }

/*  GRID OF TWO  */
.span_2_of_2 { width: 100%; }
.span_1_of_2 { width: 49.2%; }

@media only screen and (max-width: 480px) {
  .col { margin: 1% 0 1% 0%;}
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
  .span_2_of_2, .span_1_of_2 { width: 100%; }
  .meow-header-ad { display: none !important; }
  .meow-box [type="text"] { width: 100% !important; }
}
